.HeroPage{
    
    height: 88%;
    width: 100%;
    background-image: url('../images/mercedesphotos/1nice-3400x1480.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}



.HeroPage__overlay{
    margin: 0 auto;
    padding: 2.5rem 2.5rem 0 2.5rem;
    width: 80%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.HeroPage__overlay__upperText{
    
}

.HeroPage__overlay__upperText__p{
    padding-top: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.HeroPage__overlay__lowerText{
    display: flex;
}

.HeroPage__overlay__lowerText__left{
    padding-right: 5rem;
}

.HeroPage__overlay__lowerText__left p,
.HeroPage__overlay__lowerText__right p{
    letter-spacing: 1px;
}



.HeroPage h1,h2{
    font-family: 'MBCorpoATitle';
    font-weight: 100;
}

.HeroPage h1{
    font-size: 70px;
}
.HeroPage h2{
    font-size: 50px;
}
