nav{
    padding: 0.5rem 0;
    background-color: black;

}
.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    
}

a{
    text-decoration: none;
    color: white;
}


.navbar__left{
    display: flex;
}

.navbar__left__logo{
    width: 90px;
    height: 90px;
    background-image: url('../images/mercedes-benz-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.navbar__left__logoname{
    width: 200px;
    height: 20px;
    background-image: url('../images/napis.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 0 1rem 1rem;

}

.navbar__right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navbar__right__upper{
    display: flex;
    justify-content: end;
}

.navbar__right__upper__list,
.navbar__right__lower__list{
    list-style: none;
    display: flex;
    justify-content: end;
}

.navbar__right__upper__list li,
.navbar__right__lower__list li{
    margin-right: 2rem;
}

.navbar__right__upper__list li a,
.navbar__right__lower__list li a{
    letter-spacing: 0.3px;

}

.navbar__right__upper__list li a:hover,
.navbar__right__lower__list li a:hover{
    color: #00adef;
}


@media (max-width: 1280px){
    .big-screen a{
       display: none;
    }
}

@media (max-width: 1024px){
    
}