nav{
    width: 100vw;
    height: 12vh;
    background-color: black;
}

.navbar{
    margin: 0 auto;
    width: 90%;

}

.navbar__left{
    display: block;
    background-color: brown;
    
}

.navbar__left__logo{

}

.navbar__left__logo img{

}

.navbar__left__logoname{

}

.navbar__left__logoname img{

}



















/* nav{
    padding: 0.1rem;
    background-color: black;
    height: 11vh;
    display: flex;
    justify-content: center;
    
}
.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 11vh;
    
    
}

a{
    text-decoration: none;
    color: white;
}


.navbar__left{
    display: flex;
}

.navbar__left__logo{
    width: 500px;
    height: 11vh;
    
}

.navbar__left__logoIMG{
    background-image: url('../images/mercedes-benz-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.navbar__left__logoname{
    width: 70%;
    height: 20px;
    margin: auto 0 1rem 1rem;
}

.navbar__left__logonameIMG{
    width: 100%;
    height: 100%;
    background-image: url('../images/napis.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar__right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navbar__right__upper{
    display: flex;
    justify-content: end;
}

.navbar__right__upper__list,
.navbar__right__lower__list{
    list-style: none;
    display: flex;
    justify-content: end;
}

.navbar__right__upper__list li,
.navbar__right__lower__list li{
    margin-right: 2rem;
}

.navbar__right__upper__list li a,
.navbar__right__lower__list li a{
    letter-spacing: 0.3px;

}

.navbar__right__upper__list li a:hover,
.navbar__right__lower__list li a:hover{
    color: #00adef;
}


@media (max-width: 1280px){
    .big-screen a{
       display: none;
    }
}

@media (max-width: 1023px){

    .big-screen{
        display: none;
    }

    .navbar__left{
        display: flex;
    }

    .navbar__right__upper__list li,
.navbar__right__lower__list li{
    margin-right: 1rem;
}
    
    .navbar__left__logo{
        width: 60px;
        height: 60px;
    }

    .navbar__left__logoname{
        width: 100px;
        height: 20px;
        margin: auto 0 0.5rem 1rem;
    }

} */