.Wrapper{

    background-image: url('../images/mercedesphotos/1nice-3400x1480.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



/* oryginally 1280px */
@media (max-width: 1350px){
    

}

@media (max-width: 1023px){


}

@media (max-width: 768px){

    .Wrapper{
        height: 88vh;
        background-size: fill;
    }
    
}