*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* word-break: break-word; */
  word-break: keep-all;
}

body{
}

html{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

@font-face {
  font-family: "MBCorpoATitle";
  src: local("MBCorpoATitle"),
   url("./fonts/mbcorpoatitle-regular.otf") format("opentype");
  font-weight: regular;
}